.animal-hungry {
  background-color: pink;
  animation: fadeIn 2.5s infinite linear;

  @keyframes fadeIn {
    from {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0.2;
    }
  }
}
